.navbarContainer {
    background-color: #233237;
}
.myName {
    font-size: 2rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    border: pink 1px solid;
    margin: 0;
    padding: 0;
}
.icon:hover {
    cursor: "pointer";
}

/* 
cloud = #98878F
sunset = #985E6D
evening = #192231
stormy = #494E6B

hover style tyhat takes in text on argument */