* {
    box-sizing: border-box
}

.navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: green 1px solid;
}

.name {
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: pink 1px solid;
    margin: 0;
    padding: 0;
}

